-- 菜单SQL
INSERT INTO `sys_menu` ( parent_id, name, url, perms, `type`, icon, order_no, create_time, update_time, status)
VALUES(1, '${comments}', '${moduleName}/${classname}', '${moduleName}:${classname}:${classname}', 1, 'fa fa-user-secret', 12, '2019-01-01 00:00:00.000', NULL, '1');

-- 按钮父菜单ID
set @parentId = @@identity;

-- 菜单对应按钮SQL
INSERT INTO `sys_menu` 
(parent_id, name, url, perms, `type`, icon, order_no, create_time, update_time, status)
SELECT(5, '新增', '', '${moduleName}:${classname}:add', 2, '', 0, '2019-01-01 00:00:00.000', NULL, '1');
INSERT INTO `sys_menu` 
(parent_id, name, url, perms, `type`, icon, order_no, create_time, update_time, status)
SELECT(5, '编辑', '', '${moduleName}:${classname}:edit', 2, '', 0, '2019-01-01 00:00:00.000', NULL, '1');
INSERT INTO `sys_menu` 
(parent_id, name, url, perms, `type`, icon, order_no, create_time, update_time, status)
SELECT(5, '删除', '', '${moduleName}:${classname}:remove', 2, '', 0, '2019-01-01 00:00:00.000', NULL, '1');
INSERT INTO `sys_menu` 
(parent_id, name, url, perms, `type`, icon, order_no, create_time, update_time, status)
SELECT(5, '导出', '', '${moduleName}:${classname}:export', 2, '', 0, '2019-01-01 00:00:00.000', NULL, '1');
