<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:with="title='sys_dict_data'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="search-collapse" hidden="">
				<form id="search-form">
					<div class="search-list">
						<ul>
							<li>字典含义：<input type="text" name="dictName" id="dictName" />
							</li>
							<li>状态：<select name="status" id="status" th:with="type=${@dict.getDictDatas('Status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictName}" th:value="${dict.dictNo}"></option>
							</select>
							</li>
							<li><a class="btn btn-info btn-rounded btn-sm" onclick="$.YiMo.BSTable.search('search-form')"><i class="fa fa-search"></i>&nbsp;搜索</a> <a
								class="btn btn-warning btn-rounded btn-sm" onclick="document.getElementById('search-form').reset();"><i class="fa fa-refresh"></i>&nbsp;重置</a></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="ibox">
				<div class="fixed-table-toolbar" id="toolbar">
					<input id="dictType" name="dictType" th:value="${dictType}" type="hidden">
					<a shiro:hasPermission="sys:dictData:add" class="btn btn-primary  btn-circle" onclick="add()" title="添加"> <i class="fa fa-plus" aria-hidden="true"></i>
					</a>
					<a shiro:hasPermission="sys:dictData:batchRemove"  class="btn btn-rounded btn-danger" onclick="batchRemove()" title="批量删除" >
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</div>
				<table id="bootstrap-table" data-mobile-responsive="true">
				</table>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript" th:inline="javascript">
		var s_edit_h = [[${@permission.hasPermi('sys:dictData:edit')}]];
		var s_remove_h = [[${@permission.hasPermi('sys:dictData:remove')}]];
		var  dictType =$("#dictType").val();
		$().ready(function() {
			load();
		});
	</script>
	<script type="text/javascript" th:src="@{/yimo/js/sys/dictData/dictData.js}"></script>
</body>
</html>