<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='sys_model_catalog'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="ModelCatalogForm">
							   							<div class="form-group">
								<label class="col-sm-3 control-label">模板编号：</label>
								<div class="col-sm-8">
									<input id="modelNo" name="modelNo" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">模板名称：</label>
								<div class="col-sm-8">
									<input id="modelName" name="modelName" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">模板描述：</label>
								<div class="col-sm-8">
									<input id="modelDescribe" name="modelDescribe" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">模型类型List Or Info：</label>
								<div class="col-sm-8">
									<input id="modelType" name="modelType" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">数据来源：</label>
								<div class="col-sm-8">
									<input id="url" name="url" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">模型版本：</label>
								<div class="col-sm-8">
									<input id="modelVersion" name="modelVersion" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">创建用户id：</label>
								<div class="col-sm-8">
									<input id="createUserId" name="createUserId" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
							  							<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="status" name="status" class="form-control" type="text">
								</div>
							</div>
							 							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" >提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<div th:replace="footer :: footer"></div>
<script type="text/javascript">
	var prefix = ctx+"sys/modelCatalog";
		$().ready(function() {
	        validateRule();
        });
        $.validator.setDefaults({
        	submitHandler : function() {
		        save();
	        }
        });
        function save() {
        	YiMo.ajaxPost({
        		url : prefix + "/save",
        		data : $('#ModelCatalogForm').serialize(),
        		needClose : true,
	            parentRefresh : true,
        	});
        }

        function validateRule() {
	        var icon = "<i class='fa fa-times-circle'></i> ";
	        $("#ModelCatalogForm").validate({
	        	rules : {
	        		        			        		        			        			 modelNo : {
	 		                required : true
	 	                },
	        			        		        			        			 modelName : {
	 		                required : true
	 	                },
	        			        		        			        			 modelDescribe : {
	 		                required : true
	 	                },
	        			        		        			        			 modelType : {
	 		                required : true
	 	                },
	        			        		        			        			 url : {
	 		                required : true
	 	                },
	        			        		        			        			 modelVersion : {
	 		                required : true
	 	                },
	        			        		        			        			 remark : {
	 		                required : true
	 	                },
	        			        		        			        			 createUserId : {
	 		                required : true
	 	                },
	        			        		        			        			 createTime : {
	 		                required : true
	 	                },
	        			        		        			        			 updateTime : {
	 		                required : true
	 	                },
	        			        		        			        			 status : {
	 		                required : true
	 	                },
	        			        		        	 },
	        	 messages : {
	        	 	        	 	        			        	 	        			 modelNo : {
 		                required : icon + "请输入模板编号"
 	                },
        			        			        	 	        			 modelName : {
 		                required : icon + "请输入模板名称"
 	                },
        			        			        	 	        			 modelDescribe : {
 		                required : icon + "请输入模板描述"
 	                },
        			        			        	 	        			 modelType : {
 		                required : icon + "请输入模型类型List Or Info"
 	                },
        			        			        	 	        			 url : {
 		                required : icon + "请输入数据来源"
 	                },
        			        			        	 	        			 modelVersion : {
 		                required : icon + "请输入模型版本"
 	                },
        			        			        	 	        			 remark : {
 		                required : icon + "请输入备注"
 	                },
        			        			        	 	        			 createUserId : {
 		                required : icon + "请输入创建用户id"
 	                },
        			        			        	 	        			 createTime : {
 		                required : icon + "请输入创建时间"
 	                },
        			        			        	 	        			 updateTime : {
 		                required : icon + "请输入更新时间"
 	                },
        			        			        	 	        			 status : {
 		                required : icon + "请输入状态"
 	                },
        			        			        	 }
	        })
        }
	</script>
</body>
</html>
