<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:with="title='sys_menu'">
<meta charset="utf-8">
<header th:replace="header::headerFragment(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
					</div>
					<table id="MenuTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript" th:inline="javascript">
	var s_edit_h = [[${@permission.hasPermi('sys:menu:edit')}]];
	var s_remove_h = [[${@permission.hasPermi('sys:menu:remove')}]];
	$().ready(function() {
		load();
	});
	</script>
	<script type="text/javascript" th:src="@{/yimo/js/sys/menu/menu.js}">
	</script>
</body>
</html>