<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:with="title='sys_menu'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="search-collapse">
				<form id="search-form">
					<div class="search-list">
						<ul>
							<li>菜单名称：<input type="text" name="menuName" id="menuName" />
							</li>
							<li>状态：<select name="status" id="status" th:with="type=${@dict.getDictDatas('Status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictName}" th:value="${dict.dictNo}"></option>
							</select>
							</li>
							<li><a class="btn btn-info btn-rounded btn-sm" onclick="$.YiMo.BSTreeTable.search('search-form')"> <i class="fa fa-search"></i> &nbsp;搜索
							</a> <a class="btn btn-warning btn-rounded btn-sm" onclick="document.getElementById('search-form').reset();"> <i class="fa fa-refresh"></i> &nbsp;重置
							</a></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar" id="toolbar">
						<div class="columns pull-left">
							<a shiro:hasPermission="sys:menu:add" class="btn btn-primary  btn-circle" onclick="add('0')" title="添加"> <i class="fa fa-plus" aria-hidden="true"></i>
							</a> <a class="btn    btn-info   btn-rounded" onclick="$.YiMo.BSTreeTable.exchange()" title="展开/折叠"> <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;展开/折叠
							</a>

						</div>
					</div>
					<table id="bootstrap-tree-table" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript" th:inline="javascript">
	var s_edit_h = [[${@permission.hasPermi('sys:menu:edit')}]];
	var s_remove_h = [[${@permission.hasPermi('sys:menu:remove')}]];
	$().ready(function() {
		load();
	});
	</script>
	<script type="text/javascript" th:src="@{/yimo/js/sys/menu/menu.js}">
	</script>
</body>
</html>