<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='sys_job'">
<meta charset="utf-8">
<header th:replace="header::headerFragment(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="JobForm">
							<input id="jobId" name="jobId" th:value="${job.jobId}" type="hidden"> 
							<input id="oldJobName" name="oldJobName" th:value="${job.oldJobName}"	type="hidden"> 
							<input id="oldJobGroup" name="oldJobGroup" th:value="${job.oldJobGroup}" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">任务名称：</label>
								<div class="col-sm-8">
									<input id="jobName" name="jobName" th:value="${job.jobName}" class="form-control" readonly="readonly" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">任务组名：</label>
								<div class="col-sm-8">
									<input id="jobGroup" name="jobGroup" th:value="${job.jobGroup}" class="form-control" readonly="readonly" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">任务方法：</label>
								<div class="col-sm-8">
									<input id="jobClassName" name="jobClassName" th:value="${job.jobClassName}" readonly="readonly" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">任务描述：</label>
								<div class="col-sm-8">
									<input id="description" name=description class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">方法参数：</label>
								<div class="col-sm-8">
									<input id="methodParams" name="methodParams" th:value="${job.methodParams}" class="form-control" readonly="readonly" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">cron执行表达式：</label>
								<div class="col-sm-8">
									<input id="cronExpression" name="cronExpression" th:value="${job.cronExpression}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">计划执行错失触发策略：</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" th:field="*{job.misfirePolicy}" name="misfirePolicy" value="1" /> 立即执行
									</label> <label class="radio-inline"> <input type="radio" th:field="*{job.misfirePolicy}" name="misfirePolicy" value="2" /> 执行一次
									</label> <label class="radio-inline"> <input type="radio" th:field="*{job.misfirePolicy}" name="misfirePolicy" value="3" /> 放弃执行
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input readonly="readonly" th:field="*{job.status}" type="radio" name="status" value="1" />
										运行中
									</label> <label class="radio-inline"> <input readonly="readonly" th:field="*{job.status}" type="radio" name="status" value="0" />未运行
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">备注信息：</label>
								<div class="col-sm-8">
									<textarea id="remark" name="remark" class="form-control">[[*{remark}]]</textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "sys/job";
        $().ready(function() {
	        validateRule();
        });
        $.validator.setDefaults({
	        submitHandler : function() {
		        update();
	        }
        });

        function update() {
	        yimo.ajaxPut({
	            url : prefix + "/update",
	            data : $('#JobForm').serialize(),
	            needClose : true,
	            parentRefresh : true,
	        });
        }

        function validateRule() {
	        var icon = "<i class='fa fa-times-circle'></i> ";
	        $("#JobForm").validate({
	            rules : {
	                jobName : {
		                required : true
	                },
	                jobGroup : {
		                required : true
	                },
	                jobClassName : {
		                required : true
	                },
	                // 	                methodParams : {
	                // 		                required : true
	                // 	                },
	                cronExpression : {
		                required : true
	                },
	                misfirePolicy : {
		                required : true
	                },
	                status : {
		                required : true
	                },
	            },
	            messages : {
	                jobName : {
		                required : icon + "请输入任务名称"
	                },
	                jobGroup : {
		                required : icon + "请输入任务组名"
	                },
	                jobClassName : {
		                required : icon + "请输入任务方法"
	                },
	                methodParams : {
		                required : icon + "请输入方法参数"
	                },
	                cronExpression : {
		                required : icon + "请输入cron执行表达式"
	                },
	                misfirePolicy : {
		                required : icon + "请输入计划执行策略"
	                },
	            }
	        })
        }
	</script>
</body>
</html>
