<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='用户个人信息'">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg" style="font: 14px Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif !important;">
	<section class="section-content">
		<div class="row">
			<div class="col-xs-3 pr5">
				<input id="userId" name="userId" th:value="${user.userId}" type="hidden">
				<div class="ibox float-e-margins">
					<div class="ibox-title ibox-title-gray dashboard-header gray-bg">
						<h5>个人资料</h5>
					</div>
					<div class="ibox-content">
						<div class="text-center">
							<p>
								<img class="img-circle img-lg" th:src="@{/img/profile_small.jpg}">
							<p>
						</div>
						<ul class="list-group list-group-striped">
							<li class="list-group-item"><i class="fa fa-user"></i> <b class="font-noraml">登录名称：</b>
								<p class="pull-right">[[${user.userName}]]</p></li>
							<li class="list-group-item"><i class="fa fa-phone"></i> <b class="font-noraml">手机号码：</b>
								<p class="pull-right">[[${user.mobile}]]</p></li>
							<li class="list-group-item"><i class="fa fa-group"></i> <b class="font-noraml">所属部门：</b>
								<p class="pull-right">[[${user.deptName}]]</p></li>
							<li class="list-group-item"><i class="fa fa-birthday-cake"></i> <b class="font-noraml">生日：</b>
								<p class="pull-right">[[${user.birth}]]</p></li>
							<li class="list-group-item"><i class="fa fa-futbol-o"></i> <b class="font-noraml">兴趣爱好：</b>
								<p class="pull-right " id="hobby"></p></li>
							<li class="list-group-item"><i class="fa fa-home"></i> <b class="font-noraml">所属地区：</b>
								<p class="pull-right">[[${user.district}]]</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-9" style="padding-left: 0px">
				<div class="ibox float-e-margins">
					<div class="ibox-title ibox-title-gray dashboard-header">
						<h5>基本资料</h5>
					</div>
					<div class="ibox-content">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#user_info" data-toggle="tab" aria-expanded="true">基本资料</a></li>
<!-- 								<li><a href="#photo_info" data-toggle="tab" aria-expanded="false">头像修改</a></li> -->
								<li><a href="#modify_password" data-toggle="tab" aria-expanded="false">修改密码</a></li>
							</ul>
							<div class="tab-content">
								<!--用户信息-->
								<div class="tab-pane active" id="user_info" th:object="${user}">
									<form class="form-horizontal" id="form-user-edit">
										<p></p>
										<input id="userId" name="userId" th:value="*{userId}" hidden="true">
										<div class="form-group">
											<label class="col-sm-2 control-label">用户名称：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="name" th:field="*{name}" placeholder="请输入用户名称">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">手机号码：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="mobile" maxlength="11" th:field="*{mobile}" placeholder="请输入手机号码">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">邮箱：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="email" th:field="*{email}" placeholder="请输入邮箱">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">性别：</label>
											<div class="col-sm-10">
												<label class="radio-inline" th:each="dict:${@dict.getDictDatas('Sex')}"> <input th:field="*{sex}" type="radio" th:value="${dict.dictNo}"
													th:text="${dict.dictName}" />
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">生日：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control layer-date laydate-icon" readonly name="birth" th:field="*{birth}" placeholder="请输入生日" onclick="laydate()">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-sm-2 control-label">爱好：</label>
											<div class="checxbox i-checks">
												<input name="hobbys" id="hobbys" th:value="${hobby}" type="hidden"> <label th:each="dict:${@dict.getDictDatas('hobby')}" class="checkbox-inline"> <input
													name="hobby" type="checkbox" th:value="${dict.dictNo}" th:text="${dict.dictName}" th:attr="checked=${@dictService.contains(dict.dictNo,user.hobby)?true:false}">
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">现居住地址：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="address" th:field="*{address}" placeholder="请输入现居住地址">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="button" class="btn btn-sm btn-primary" onclick="updateUserInfo()">
													<i class="fa fa-check"></i>
													保 存
												</button>
											</div>
										</div>
									</form>
								</div>
								<div class="ibox-content tab-pane fade gg" id="photo_info">
									<div class="ggcontainer" id="crop-avatar">
										<form class="avatar-form" action="/sys/user/uploadImg" enctype="multipart/form-data" method="post">
											<div class="avatar-body">
												<div class="avatar-upload">
													<input class="avatar-src" name="avatar_src" type="hidden"> <input class="avatar-data" name="avatar_data" type="hidden"> <label for="avatarInput">选取文件</label>
													<input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
												</div>
												<!-- Crop and preview -->
												<div class="row">
													<div class="col-md-9">
														<div class="avatar-wrapper"></div>
													</div>
													<div class="col-md-3">
														<div class="avatar-preview preview-lg"></div>
														<div class="avatar-preview preview-md"></div>
														<div class="avatar-preview preview-sm"></div>
													</div>
												</div>

												<div class="row avatar-btns">
													<div class="col-md-9">
														<div class="btn-group">
															<button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">左旋转</button>
															<button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15°</button>
															<button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30°</button>
															<button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45°</button>
														</div>
														<div class="btn-group">
															<button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">右旋转</button>
															<button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15°</button>
															<button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30°</button>
															<button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45°</button>
														</div>
													</div>
													<div class="col-md-3">
														<button class="btn btn-primary btn-block avatar-save" type="submit">完成裁剪</button>
													</div>
												</div>
											</div>
										</form>
										<!-- Loading state -->
										<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
									</div>
								</div>
								<!--修改密码-->
								<div class="tab-pane" id="modify_password">
									<form class="form-horizontal" id="form-user-resetPwd">
										<p></p>
										<div class="form-group">
											<label class="col-sm-2 control-label">旧密码：</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" name="oldPassword" placeholder="请输入旧密码">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">新密码：</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="请输入新密码">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">确认密码：</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" name="confirmPassword" placeholder="请确认密码">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="button" class="btn btn-sm btn-primary" onclick="updatePassword()">
													<i class="fa fa-check"></i>
													保 存
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "/sys/user";
        $(document).ready(function() {
        	validateRule();
	        $('#hobby').html(YiMo.getDictDatas('hobby', '[[${user.hobby}]]'));

        });

        function updateUserInfo() {
	        $("#hobby").val(getCheckedHobbys());
	        YiMo.ajaxPut({
	            url : ctx + "sys/user/update",
	            data : $('#form-user-edit').serialize(),
	            needClose : true,
	            refreshTab : true,
	        });
        }
        function updatePassword() {
	        YiMo.ajaxPut({
	            url : prefix + "/updatePwd",
	            data : $('#form-user-resetPwd').serialize(),
	            needClose : true,
	            refreshTab : true,
	        });
        }
        function getCheckedHobbys() {
	        var ids = "";
	        $("input:checkbox[name=hobby]:checked").each(function(i) {
		        if (0 == i) {
			        ids = $(this).val();
		        } else {
			        ids += ("," + $(this).val());
		        }
	        });
	        return ids;
        }

        /*用户管理-修改密码*/
        function validateRule() {
        	  /*用户信息-修改*/
            $("#form-user-edit").validate({
                onkeyup : false,
                rules : {
                    userName : {
    	                required : true,
                    },
                    email : {
                        required : true,
                        email : true,
                        remote : {
                            url : prefix + "/checkEmailUnique",
                            type : "post",
                            dataType : "json",
                            data : {
                                "email" : function() {
    	                            return $("#email").val();
                                },
                                "userId" : function() {
    	                            return $("#userId").val();
                                },
                            },
                            dataFilter : function(data, type) {
    	                        if (data == "true")
    		                        return true;
    	                        else
    		                        return false;
                            }
                        }
                    },
                    mobile : {
                        required : true,
                        minlength : 11,
                        maxlength : 11,
                        remote : {
                            url : prefix + "/checkMobileUnique",
                            type : "post",
                            dataType : "json",
                            data : {
                                "mobile" : function() {
    	                            return $("#mobile").val();
                                },
                                "userId" : function() {
    	                            return $("#userId").val();
                                },
                            },
                            dataFilter : function(data, type) {
    	                        if (data == "true")
    		                        return true;
    	                        else
    		                        return false;
                            }
                        }
                    },
                },
                messages : {
                    "userName" : {
    	                required : "请输入用户名称",
                    },
                    "email" : {
                        required : "请输入邮箱",
                        remote : "Email已经存在"
                    },
                    "mobile" : {
                        required : "请输入手机号码",
                        remote : "手机号码已经存在",
                    }
                },
                focusCleanup : true
            });
	        $("#form-user-resetPwd").validate({
	            onkeyup : false,
	            rules : {
	                oldPassword : {
		                required : true,
	                },
	                newPassword : {
	                    required : true,
	                    minlength : 6,
	                    maxlength : 20
	                },
	                confirmPassword : {
	                    required : true,
	                    equalTo : "#newPassword"
	                }
	            },
	            messages : {
	                oldPassword : {
	                    required : "请输入原密码",
	                    remote : "原密码错误"
	                },
	                newPassword : {
	                    required : "请输入新密码",
	                    minlength : "密码不能小于6个字符",
	                    maxlength : "密码不能大于20个字符"
	                },
	                confirmPassword : {
	                    required : "请再次输入新密码",
	                    equalTo : "两次密码输入不一致"
	                }

	            },
	            focusCleanup : true
	        });
        }
       
	</script>
</body>
</html>
