<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='用户个人信息'">
<header th:replace="header::header(${title})"></header>
<link rel="stylesheet" th:href="@{/plugins/cropper/cropper.css}" />
<style type="text/css">
#user-photo {
	width: 300px;
	height: 300px;
	margin-top: 10px;
}

#photo {
	max-width: 100%;
	max-height: 350px;
}

.img-preview-box {
	text-align: center;
}

.img-preview-box>div {
	display: inline-block;;
	margin-right: 10px;
}

.img-preview {
	overflow: hidden;
}

.img-preview-box .img-preview-lg {
	width: 150px;
	height: 150px;
}

.img-preview-box .img-preview-md {
	width: 100px;
	height: 100px;
}

.img-preview-box .img-preview-sm {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
</style>
<body class="gray-bg" style="font: 14px Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif !important;">
	<section class="section-content">
		<div class="row">
			<div class="col-xs-3 pr5">
				<input id="userId" name="userId" th:value="${user.userId}" type="hidden">
				<div class="ibox float-e-margins">
					<div class="ibox-title ibox-title-gray dashboard-header gray-bg">
						<h5>个人资料</h5>
					</div>
					<div class="ibox-content">
						<div class="text-center">
							<p>
								<a href="#" data-target="#avatar" data-toggle="modal"><img class="img-circle img-lg" id="user-avatar" name="user-avatar" th:src="@{/img/profile_small.jpg}"></a>
							<p>
						</div>
						<ul class="list-group list-group-striped">
							<li class="list-group-item"><i class="fa fa-user"></i> <b class="font-noraml">登录名称：</b>
								<p class="pull-right">[[${user.userName}]]</p></li>
							<li class="list-group-item"><i class="fa fa-phone"></i> <b class="font-noraml">手机号码：</b>
								<p class="pull-right">[[${user.mobile}]]</p></li>
							<li class="list-group-item"><i class="fa fa-group"></i> <b class="font-noraml">所属部门：</b>
								<p class="pull-right">[[${user.deptName}]]</p></li>
							<li class="list-group-item"><i class="fa fa-birthday-cake"></i> <b class="font-noraml">生日：</b>
								<p class="pull-right">[[${user.birth}]]</p></li>
							<li class="list-group-item"><i class="fa fa-futbol-o"></i> <b class="font-noraml">兴趣爱好：</b>
								<p class="pull-right " id="hobby"></p></li>
							<li class="list-group-item"><i class="fa fa-home"></i> <b class="font-noraml">所属地区：</b>
								<p class="pull-right">[[${user.district}]]</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-9" style="padding-left: 0px">
				<div class="ibox float-e-margins">
					<div class="ibox-title ibox-title-gray dashboard-header">
						<h5>基本资料</h5>
					</div>
					<div class="ibox-content">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#user_info" data-toggle="tab" aria-expanded="true">基本资料</a></li>
								<li><a href="#modify_password" data-toggle="tab" aria-expanded="false">修改密码</a></li>
							</ul>
							<div class="tab-content">
								<!--用户信息-->
								<div class="tab-pane active" id="user_info" th:object="${user}">
									<form class="form-horizontal" id="form-user-edit">
										<p></p>
										<input id="userId" name="userId" th:value="*{userId}" hidden="true">
										<div class="form-group">
											<label class="col-sm-2 control-label">用户名称：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="name" th:field="*{name}" placeholder="请输入用户名称">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">手机号码：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="mobile" maxlength="11" th:field="*{mobile}" placeholder="请输入手机号码">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">邮箱：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="email" th:field="*{email}" placeholder="请输入邮箱">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">性别：</label>
											<div class="col-sm-10">
												<label class="radio-inline" th:each="dict:${@dict.getDictDatas('Sex')}"> <input th:field="*{sex}" type="radio" th:value="${dict.dictNo}"
													th:text="${dict.dictName}" />
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">生日：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control layer-date laydate-icon" readonly name="birth" th:field="*{birth}" placeholder="请输入生日" onclick="laydate()">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-sm-2 control-label">爱好：</label>
											<div class="checxbox i-checks">
												<input name="hobbys" id="hobbys" th:value="${hobby}" type="hidden"> <label th:each="dict:${@dict.getDictDatas('hobby')}" class="checkbox-inline"> <input
													name="hobby" type="checkbox" th:value="${dict.dictNo}" th:text="${dict.dictName}" th:attr="checked=${@dictService.contains(dict.dictNo,user.hobby)?true:false}">
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">现居住地址：</label>
											<div class="col-sm-10">
												<input type="text" autocomplete="off" class="form-control" name="address" th:field="*{address}" placeholder="请输入现居住地址">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="button" class="btn btn-sm btn-primary" onclick="updateUserInfo()">
													<i class="fa fa-check"></i> 保 存
												</button>
											</div>
										</div>
									</form>
								</div>
								<!--修改密码-->
								<div class="tab-pane" id="modify_password">
									<form class="form-horizontal" id="form-user-resetPwd">
										<p></p>
										<div class="form-group">
											<label class="col-sm-2 control-label">旧密码：</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" name="oldPassword" placeholder="请输入旧密码">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">新密码：</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="请输入新密码">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">确认密码：</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" name="confirmPassword" placeholder="请确认密码">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="button" class="btn btn-sm btn-primary" onclick="updatePassword()">
													<i class="fa fa-check"></i> 保 存
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="avatar" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title text-primary">
							<i class="fa fa-pencil"></i> 更换头像
						</h4>
					</div>
					<div class="modal-body">
						<p class="tip-info text-center">未选择图片</p>
						<div class="img-container hidden">
							<img src="" alt="" id="photo">
						</div>
						<div class="img-preview-box hidden">
							<hr>
							<span>150*150:</span>
							<div class="img-preview img-preview-lg"></div>
							<span>100*100:</span>
							<div class="img-preview img-preview-md"></div>
							<span>30*30:</span>
							<div class="img-preview img-preview-sm"></div>
						</div>
					</div>
					<div class="modal-footer">
						<form class="imgForm">
							<label class="btn btn-danger pull-left" for="photoInput"> <input type="file" class="sr-only" id="photoInput" accept="image/*"> <span>打开图片</span> <input
								id="imgData" name="imgData" hidden>
							</label>
						</form>
						<button class="btn btn-primary disabled" disabled="true" onclick="sendPhoto();">提交</button>
						<button class="btn btn-close" aria-hidden="true" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="footer :: footer"></div>
	<script th:src="@{/plugins/cropper/cropper.js}"></script>
	<script type="text/javascript">
		var prefix = ctx + "/sys/user";
		$(document).ready(function() {
			validateRule();
			$('#hobby').html(YiMo.getDictDatas('hobby', '[[${user.hobby}]]'));

		});

		/*用户管理-基本信息*/
		function updateUserInfo() {
			$("#hobby").val(getCheckedHobbys());
			YiMo.ajaxPut({
				url : ctx + "sys/user/update",
				data : $('#form-user-edit').serialize(),
				needClose : true,
				refreshTab : true,
			});
		}
		/*用户管理-密码*/
		function updatePassword() {
			YiMo.ajaxPut({
				url : prefix + "/updatePwd",
				data : $('#form-user-resetPwd').serialize(),
				needClose : true,
				refreshTab : true,
			});
		}
		function getCheckedHobbys() {
			var ids = "";
			$("input:checkbox[name=hobby]:checked").each(function(i) {
				if (0 == i) {
					ids = $(this).val();
				} else {
					ids += ("," + $(this).val());
				}
			});
			return ids;
		}

		/*表单校验*/
		function validateRule() {
			$("#form-user-edit").validate({
				onkeyup : false,
				rules : {
					userName : {
						required : true,
					},
					email : {
						required : true,
						email : true,
						remote : {
							url : prefix + "/checkEmailUnique",
							type : "post",
							dataType : "json",
							data : {
								"email" : function() {
									return $("#email").val();
								},
								"userId" : function() {
									return $("#userId").val();
								},
							},
							dataFilter : function(data, type) {
								if (data == "true")
									return true;
								else
									return false;
							}
						}
					},
					mobile : {
						required : true,
						minlength : 11,
						maxlength : 11,
						remote : {
							url : prefix + "/checkMobileUnique",
							type : "post",
							dataType : "json",
							data : {
								"mobile" : function() {
									return $("#mobile").val();
								},
								"userId" : function() {
									return $("#userId").val();
								},
							},
							dataFilter : function(data, type) {
								if (data == "true")
									return true;
								else
									return false;
							}
						}
					},
				},
				messages : {
					"userName" : {
						required : "请输入用户名称",
					},
					"email" : {
						required : "请输入邮箱",
						remote : "Email已经存在"
					},
					"mobile" : {
						required : "请输入手机号码",
						remote : "手机号码已经存在",
					}
				},
				focusCleanup : true
			});
			$("#form-user-resetPwd").validate({
				onkeyup : false,
				rules : {
					oldPassword : {
						required : true,
					},
					newPassword : {
						required : true,
						minlength : 6,
						maxlength : 20
					},
					confirmPassword : {
						required : true,
						equalTo : "#newPassword"
					}
				},
				messages : {
					oldPassword : {
						required : "请输入原密码",
						remote : "原密码错误"
					},
					newPassword : {
						required : "请输入新密码",
						minlength : "密码不能小于6个字符",
						maxlength : "密码不能大于20个字符"
					},
					confirmPassword : {
						required : "请再次输入新密码",
						equalTo : "两次密码输入不一致"
					}

				},
				focusCleanup : true
			});
		}

		/**头像更换**/
		var initCropperInModal = function(img, input, modal) {
			var $image = img;
			var $inputImage = input;
			var $modal = modal;
			var options = {
				aspectRatio : 1, // 纵横比
				viewMode : 2,
				preview : '.img-preview' // 预览图的class名
			};
			// 模态框隐藏后需要保存的数据对象
			var saveData = {};
			var URL = window.URL || window.webkitURL;
			var blobURL;
			$modal.on('show.bs.modal', function() {
				// 				如果打开模态框时没有选择文件就点击“打开图片”按钮
				if (!$inputImage.val()) {
					$inputImage.click();
				}
			}).on('shown.bs.modal', function() {
				// 重新创建
				$image.cropper($.extend(options, {
					ready : function() {
						// 当剪切界面就绪后，恢复数据
						if (saveData.canvasData) {
							$image.cropper('setCanvasData', saveData.canvasData);
							$image.cropper('setCropBoxData', saveData.cropBoxData);
						}
					}
				}));
			}).on('hidden.bs.modal', function() {
				// 保存相关数据
				saveData.cropBoxData = $image.cropper('getCropBoxData');
				saveData.canvasData = $image.cropper('getCanvasData');
				// 销毁并将图片保存在img标签
				$image.cropper('destroy').attr('src', blobURL);
			});
			if (URL) {
				$inputImage.change(function() {
					var files = this.files;
					var file;
					if (!$image.data('cropper')) {
						return;
					}
					if (files && files.length) {
						file = files[0];
						if (/^image\/\w+$/.test(file.type)) {
							if (blobURL) {
								URL.revokeObjectURL(blobURL);
							}
							blobURL = URL.createObjectURL(file);
							// 重置cropper，将图像替换
							$image.cropper('reset').cropper('replace', blobURL);
							// 选择文件后，显示和隐藏相关内容
							$('.img-container').removeClass('hidden');
							$('.img-preview-box').removeClass('hidden');
							$('#avatar .disabled').removeAttr('disabled').removeClass('disabled');
							$('#avatar .tip-info').addClass('hidden');
						} else {
							window.alert('请选择一个图像文件！');
						}
					}
				});
			} else {
				$inputImage.prop('disabled', true).addClass('disabled');
			}
		}

		var sendPhoto = function() {
			// 			$('#photo').cropper('getCroppedCanvas', {
			// 				width : 300,
			// 				height : 300
			// 			}).toBlob(function(blob) {
			// 				// 转化为blob后更改src属性，隐藏模态框
			// 				$('#user-photo').attr('src', URL.createObjectURL(blob));
			// 				$('#avatar').modal('hide');
			// 			});
			// 得到PNG格式的dataURL
			var photo = $('#photo').cropper('getCroppedCanvas', {
				width : 300,
				height : 300
			}).toDataURL('image/png');

			$("#imgData").val(photo);
			
			$.ajax({
				url : prefix + '/uploadImg', // 要上传的地址
				type : 'post',
				data : $("#imgForm").serializeArray(),
				dataType : 'json',
				success : function(data) {
					if (data.success == true) {
						// 将上传的头像的地址填入，为保证不载入缓存加个随机数
// 						$('#user-avatar').attr('src', '头像地址?t=' + Math.random());
						$('#avatar').modal('hide');
						alert(data.msg);
					} else {
						alert(data);
					}
				}
			});
		}

		$(function() {
			initCropperInModal($('#photo'), $('#photoInput'), $('#avatar'));
		});
	</script>
</body>
</html>
