<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.yimo.sys.dao.DeptDao">
	<!-- 表名 -->
	<sql id="tableName">
		sys_dept
	</sql>

	<!-- 数据表所有列名 -->
	<sql id="Base_Column_List">
		`dept_id`,`parent_id`,`dept_name`,`order_no`,`status`,`create_time`,`update_time`,`create_user_id`,`update_user_id`	</sql>

	<!-- 查询字段 -->
	<sql id="Base_Search_Param">
		<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		<if test="deptName != null and deptName != ''"> and dept_name = #{deptName} </if>
		<if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		<if test="status != null and status != ''"> and status = #{status} </if>
	</sql>

	<select id="getTree" resultType="top.yimo.sys.domain.DeptDO">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableName" />
		where status='1'
	</select>


	<select id="get" resultType="top.yimo.sys.domain.DeptDO">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableName" />
		where dept_id = #{value}
	</select>

	<select id="listByPage" resultType="top.yimo.sys.domain.DeptDO">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableName" />
		where 1 = 1
		<include refid="Base_Search_Param" />
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by dept_id desc
			</otherwise>
		</choose>
	</select>


	<select id="list" resultType="top.yimo.sys.domain.DeptDO">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableName" />
		where 1 = 1
		<include refid="Base_Search_Param" />
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by dept_id desc
			</otherwise>
		</choose>
	</select>
	<select id="count" resultType="int">
		select count(*) from sys_dept
		where 1 = 1
		<include refid="Base_Search_Param" />
	</select>

	<insert id="save" parameterType="top.yimo.sys.domain.DeptDO"
		useGeneratedKeys="true" keyProperty="deptId">
		insert into sys_dept
		(
			`parent_id`, 
			`dept_name`, 
			`order_no`, 
			`status`, 
			`create_time`, 
			`update_time`, 
			`create_user_id`, 
			`update_user_id`
		)
		values
		(
			#{parentId}, 
			#{deptName}, 
			#{orderNo}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}, 
			#{createUserId}, 
			#{updateUserId}
		)
	</insert>

	<update id="update" parameterType="top.yimo.sys.domain.DeptDO">
		update sys_dept
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="deptName != null">`dept_name` = #{deptName}, </if>
			<if test="orderNo != null">`order_no` = #{orderNo}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}, </if>
			<if test="updateUserId != null">`update_user_id` = #{updateUserId}</if>
		</set>
		where dept_id = #{deptId}
	</update>

	<delete id="remove">
		delete from sys_dept where dept_id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_dept where dept_id in
		<foreach item="deptId" collection="array" open="("
			separator="," close=")">
			#{deptId}
		</foreach>
	</delete>


</mapper>