<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.yimo.sys.dao.UserRoleDao">
  <!--根据需求调整缓存参数：-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <!-- 同ehcache参数maxElementsInMemory -->
        <property name="maxEntriesLocalHeap" value="1000"/>
        <!-- 同ehcache参数maxElementsOnDisk -->
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
	<!-- 表名 -->
	<sql id="tableName">
		sys_user_role
	</sql>
	
	<!-- 数据表所有列名 -->
	<sql id="Base_Column_List">
		`id`,`user_id`,`role_id`	</sql>

	<!-- 查询字段 -->
	<sql id="Base_Search_Param">
				<if test="id != null and id != ''"> and id = #{id} </if>
				<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
				<if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
			</sql>
	
	
	<select id="get" resultType="top.yimo.sys.domain.UserRoleDO">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableName" />
		where id = #{value}
	</select>

	<select id="listByPage" resultType="top.yimo.sys.domain.UserRoleDO">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="tableName" />
		 where 1 = 1
		<include refid="Base_Search_Param" />
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_user_role
		  where 1 = 1
		<include refid="Base_Search_Param" />
	</select>
	 
	<insert id="save" parameterType="top.yimo.sys.domain.UserRoleDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_user_role
		(
			`user_id`, 
			`role_id`
		)
		values
		(
			#{userId}, 
			#{roleId}
		)
	</insert>
	 
	<update id="update" parameterType="top.yimo.sys.domain.UserRoleDO">
		update sys_user_role 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="roleId != null">`role_id` = #{roleId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_user_role where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_user_role where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>