<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"  th:with="title='部门管理'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="sys:dept:add" type="button" class="btn btn-rounded btn-primary" onclick="add(1)">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
						</div>
					</div>
					<table id="DeptTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript" th:inline="javascript">
	var s_edit_h = [[${@permission.hasPermi('sys:dept:edit')}]];
	var s_add_h = [[${@permission.hasPermi('sys:dept:add')}]];
	var s_remove_h = [[${@permission.hasPermi('sys:dept:remove')}]];
	$().ready(function() {
		load();
	});
	</script>
	<script type="text/javascript" th:src="@{/yimo/js/sys/dept/dept.js}">
	</script>
</body>
</html>