package ${package}.controller;

import java.util.List;
import java.util.Map;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.multipart.MultipartFile;

import lombok.extern.slf4j.Slf4j;
import cn.tayle.common.annotation.Log;
import cn.tayle.common.controller.BaseController;
import cn.tayle.common.enums.OperatorType;
import cn.tayle.common.model.vo.BootstrapTablePageVo;
import cn.tayle.common.model.vo.ResponseVo;
import cn.tayle.common.util.excel.ExcelUtil;
import ${package}.domain.${className}DO;
import ${package}.service.${className}Service;

/**
 * ${comments} 
 * 
 * @author ${author}
 * @email ${email}
 * @version 1.0
 * @date ${datetime}
 */
 @Slf4j
@Controller
@RequestMapping("/${moduleName}/${classname}")
public class ${className}Controller extends BaseController{
	private String prefix ="/${moduleName}/${classname}";
	private final static String title ="${comments}";
	@Autowired
	private ${className}Service ${classname}Service;
	
	@GetMapping()
	@RequiresPermissions("${moduleName}:${classname}:${classname}")
	public String ${className}(){
	    return prefix+"/${classname}";
	}
	
	@ResponseBody
	@GetMapping("/list")
	@RequiresPermissions("${moduleName}:${classname}:${classname}")
	@Log(describe = "获取"+title, title = title, operatorType = OperatorType.QUERY)
	public BootstrapTablePageVo listByPage(@RequestParam Map<String, Object> params){
		startPage(params);
		List<${className}DO> ${classname}List = ${classname}Service.listByPage(params);
		return getPageData(${classname}List);
	}
	
	@GetMapping("/add")
	@RequiresPermissions("${moduleName}:${classname}:add")
	public String add(){
	    return prefix+"/add";
	}

	@GetMapping("/edit/{${pk.attrname}}")
	@RequiresPermissions("${moduleName}:${classname}:edit")
	public String edit(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname},Model model){
		${className}DO ${classname} = ${classname}Service.get(${pk.attrname});
		model.addAttribute("${classname}", ${classname});
	    return prefix+"/edit";
	}
	
	@ResponseBody
	@PostMapping("/save")
	@RequiresPermissions("${moduleName}:${classname}:add")
	@Log(describe = "新增", title = title, operatorType = OperatorType.DELETE)
	public ResponseVo save( ${className}DO ${classname}){
		beforeSave(${classname});
		if(${classname}Service.save(${classname})>0){
			return ResponseVo.ok("保存成功");
		}
		return ResponseVo.fail();
	}
	
	@ResponseBody
	@PutMapping("/update")
	@RequiresPermissions("${moduleName}:${classname}:edit")
	@Log(describe = "更新", title = title, operatorType = OperatorType.DELETE)
	public ResponseVo update( ${className}DO ${classname}){
			beforeUpdate(${classname});
		if (${classname}Service.update(${classname}) > 0) {
			return ResponseVo.ok("更新成功");
		}
		return ResponseVo.fail();
	}
	
	/**
	 * 删除
	 */
	@DeleteMapping( "/remove/{id}")
	@ResponseBody
	@RequiresPermissions("${moduleName}:${classname}:remove")
	@Log(describe = "删除", title = title, operatorType = OperatorType.DELETE)
	public ResponseVo remove(@PathVariable("id") ${pk.attrType} ${pk.attrname}){
		if(${classname}Service.remove(${pk.attrname})>0){
			return ResponseVo.ok("删除成功");
		}
		return ResponseVo.fail();
	}
	
	/**
	 * 批量删除
	 */
	@DeleteMapping( "/batchRemove")
	@ResponseBody
	@RequiresPermissions("${moduleName}:${classname}:batchRemove")
	@Log(describe = "批量删除", title = title, operatorType = OperatorType.DELETE)
	public ResponseVo batchRemove(@RequestParam("ids[]") ${pk.attrType}[] ${pk.attrname}s){
		if(${classname}Service.batchRemove(${pk.attrname}s)>0){
			return ResponseVo.ok("删除成功");
		}
		return ResponseVo.fail();
	}
	
	/**
	 * 导出数据
	 */
	@PostMapping("/exportData")
	@ResponseBody
	@RequiresPermissions("${moduleName}:${classname}:export")
	public ResponseVo exportData(${className}DO ${classname}) {
		try {
			List<${className}DO> exportData = ${classname}Service.exportData(${classname});
			ExcelUtil<${className}DO> excel = new ExcelUtil<${className}DO>(${className}DO.class);
			return excel.exportExcel(exportData, "${comments}数据");
		} catch (Exception e) {
			e.printStackTrace();
			return ResponseVo.fail(-1, e.getMessage());
		}
	}
	
	/**
	 * 导出导入模板
	 */
	@GetMapping("/importTemplate")
	@ResponseBody
	@RequiresPermissions("${moduleName}:${classname}:edit")
	public ResponseVo importTemplate() {
		try {
			ExcelUtil<${className}DO> excel = new ExcelUtil<${className}DO>(${className}DO.class);
			return excel.importTemplateExcel("${comments}数据导入模板");
		} catch (Exception e) {
			e.printStackTrace();
			return ResponseVo.fail(-1, e.getMessage());
		}
	}

	/**
	 * 导入数据
	 */
	@PostMapping("/importData")
	@ResponseBody
	@RequiresPermissions("${moduleName}:${classname}:edit")
	public ResponseVo importData(MultipartFile file, boolean isCover) {
		ExcelUtil<${className}DO> util = new ExcelUtil<${className}DO>(${className}DO.class);
		try {
			List<${className}DO> ${classname}List = util.importExcel(file.getInputStream());
			String message = ${classname}Service.importData(${classname}List, isCover);
			return ResponseVo.ok(message);
		} catch (Exception e) {
			e.printStackTrace();
			return ResponseVo.fail(-1, e.getMessage());
		}
	}
}
