<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:with="title='b_content'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<!-- 搜索区域 -->
			<div class="search-collapse" hidden="">
				<form id="search-form">
					<div class="search-list">
						<ul>
							<li>内容标题：<input type="text" name="title" id="title" /></li>
							<li>标签列表：<input type="text" name="tags" id="tags" /></li>
							<li>分类列表：<input type="text" name="categories" id="categories" /></li>
							</li>
							<li><a class="btn btn-info btn-rounded btn-sm" onclick="$.YiMo.BSTable.search('search-form')"><i class="fa fa-search"></i>&nbsp;搜索</a> <a
								class="btn btn-warning btn-rounded btn-sm" onclick="document.getElementById('search-form').reset();"><i class="fa fa-refresh"></i>&nbsp;重置</a></li>
						</ul>
					</div>
				</form>
			</div>
			<!-- 表格区域 -->
			<div class="ibox">
				<div class="fixed-table-toolbar" id="toolbar" role="group">
					<a shiro:hasPermission="blog:content:add" class="btn    btn-primary  btn-circle" onclick="add()" title="添加"> <i class="fa fa-plus" aria-hidden="true"></i>
					</a>
					<a shiro:hasPermission="blog:content:export" class="btn btn-info  btn-circle " onclick="exportData()" title="下载"> <i class="fa fa-download" aria-hidden="true"></i>
					</a>
				</div>
				<table id="bootstrap-table" data-mobile-responsive="true">
				</table>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<div th:replace="footer :: uploadData"></div>

	<script type="text/javascript" th:inline="javascript">
	var prefix = ctx+"blog/content";
	var s_edit_h = [[${@permission.hasPermi('blog:content:edit')}]];
	var s_remove_h = [[${@permission.hasPermi('blog:content:remove')}]];
	$().ready(function() {
		load();
	});
	
	function load() {
		var options = {
		url : prefix + "/list", // 服务器数据的加载地址
		columns : [
				{
					field : 'cid', 
			        visible : false,
				},{
					field : 'slug', 
			        visible : false,
				},
				{
					field : 'title', 
					title : '内容标题',
			        halign : 'center',
				},{
					field : 'type', 
					title : '内容类型',
			        halign : 'center',
			        width : '5%',
					formatter : function(value, row, index) {
						var dictData = $.YiMo.getDictData('ContentType', value);
						return '<span class="label ' + dictData.dictDescribe + '">' + dictData.dictName + '</span>';
					}
				},
				{
					field : 'status', 
					title : '内容状态',
			        halign : 'center',
					width : '5%',
					formatter : function(value, row, index) {
						var dictData = $.YiMo.getDictData('ArticleStatus', value);
						return '<span class="label ' + dictData.dictDescribe + '">' + dictData.dictName + '</span>';
					}
				},
				{
					field : 'tags', 
					title : '标签列表',
			        halign : 'center',
			        visible : false,
				},
				{
					field : 'categories', 
					title : '所属分类',
			        halign : 'center',
					width : '5%',
				},
				{
					field : 'created', 
					title : '发布时间',
			        halign : 'center',
			        width : '10%',
				},
				{
					field : 'modified', 
					title : '更新时间',
			        halign : 'center',
			        width : '10%',
				},
				{
					field : 'hits', 
					title : '阅读量',
			        halign : 'center',
					width : '5%',
				},
				{
		        title : '操作',
		        field : 'id',
		        width : '128px',
		        halign : 'center',
		        formatter : function(value, row, index) {
			        var e = '<a class="btn btn-primary btn-sm ' + s_edit_h + '" href="#" mce_href="#" title="编辑" onclick="edit(\'' + row.cid + '\')"><i class="fa fa-edit"></i></a> ';
			        var d = '<a class="btn btn-warning btn-sm ' + s_remove_h + '" href="#" title="删除"  mce_href="#" onclick="remove(\'' + row.cid + '\')"><i class="fa fa-remove"></i></a> ';
			        var p = '<a class="btn btn-success btn-sm " href="#" title="预览"  mce_href="#" onclick="preview(\'' + row.slug + '\')"><i class="fa fa-rocket"></i></a> ';
			        return e + d+p;
		        }
		    } ]
			};
		YiMo.BSTable.load(options);
	}
	// 新增
	function add() {
		YiMo.add({
		    url : prefix + '/add' ,
		    full : true,
		    title : '发布文章',
		});
	}
	// 编辑
	function edit(id) {
		YiMo.edit({
		    url : prefix + '/edit/' + id,
		    full : true,
		    title : '更新文章',
		});
	}
	//删除
	function remove(id) {
		YiMo.remove({
		    url : prefix + "/remove/"+id,
		});
	}
	//预览
	function preview(slug){
		var url  =" article/"+slug+"/preview";
		var index = layer.open({
            type : 2,
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            content : url,
        });
	        layer.full(index);
	}
	
	//导出数据
	function exportData() {
		YiMo.exportData({
			url : prefix + "/exportData",
		});
	}
	</script>
</body>
</html>