<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='b_content'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<link th:href="@{/blog/resource/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/blog/resource/plugins/toggles/toggles.css}" rel="stylesheet"/>
<link href="//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.css" rel="stylesheet"/>
<link href="//cdn.bootcss.com/select2/3.4.8/select2.min.css" rel="stylesheet"/>

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="contentForm">

							<input id="cid" name="cid" th:value="${content.cid}" type="hidden">
							<div class="form-group col-md-6" style="padding: 0 10px 0 0;">
								<input type="text" class="form-control" placeholder="请输入文章标题（必须）" name="title" required="required" aria-required="true"
									th:value="${content!=null and content.title!=null }?${content.title}: ''" />
							</div>

							<div class="form-group col-md-6" style="padding: 0 0 0 10px;">
								<input type="text" class="form-control" placeholder="自定义访问路径，如：my-first-article  默认为文章id" name="slug"
									th:value="${content!=null and content.slug !=null}?${content.slug}: ''" />
							</div>

							<div class="form-group col-md-6" style="padding: 0 10px 0 0;">
								<input name="tags" id="tags" type="text" class="form-control" placeholder="请填写文章标签" th:value="${content!=null and content.tags !=null}?${content.tags}: ''" />
							</div>

							<div class="form-group col-md-6">
								<select id="multiple-sel" class="select2 form-control" multiple="multiple" data-placeholder="请选择分类...">
									<th:block th:if="${null == categories}">
										<option value="默认分类" selected="selected">默认分类</option>
									</th:block>
									<th:block th:unless="${null == categories}">
										<th:block th:each="c : ${categories}">
											<option th:value="${c.name}" th:text="${c.name}" th:selected="${null !=content and adminCommons.exist_cat(c, content.categories)}?true:false"></option>
										</th:block>
									</th:block>
								</select>
							</div>
							<div class="clearfix"></div>
							<div class="form-group">
								<textarea style="height: 450px" autocomplete="off" id="text" name="text" class="markdown-textarea"
									th:utext="${content!=null and content.content !=null}?${content.content}: ''"></textarea>
							</div>

							<div class="form-group col-md-3 col-sm-4">
								<label class="col-sm-4">开启评论</label>
								<div class="col-sm-8">
									<div th:class="${content!=null and content.allowComment!=null }?'toggle toggle-success allow-'+${content.allowComment}:'toggle toggle-success allow-true'"
										onclick="allow_comment(this);"></div>
								</div>
							</div>

							<div class="form-group col-md-3 col-sm-4">
								<label class="col-sm-4">允许订阅</label>
								<div class="col-sm-8">
									<div th:class="${content!=null and  content.allowFeed !=null}?'toggle toggle-success allow-'+${content.allowFeed}: 'toggle toggle-success allow-true'"
										onclick="allow_feed(this);"></div>
								</div>
							</div>

							<div class="clearfix"></div>

							<div class="text-right">
								<a class="btn btn-default waves-effect waves-light" th:href="@{/blog/resource/article}">返回列表</a>
								<button type="button" class="btn btn-primary waves-effect waves-light" onclick="subArticle('publish');">保存文章</button>
								<button type="button" class="btn btn-warning waves-effect waves-light" onclick="subArticle('draft');">存为草稿</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script th:src="@{/blog/resource/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<script th:src="@{/blog/resource/plugins/jquery-multi-select/jquery.quicksearch.js}"></script>

<script th:src="@{/blog/resource/plugins/md/js/jquery.scrollto.js}"></script>
<script th:src="@{/blog/resource/plugins/md/js/pagedown.js}"></script>
<script th:src="@{/blog/resource/plugins/md/js/pagedown-extra.js}"></script>
<script th:src="@{/blog/resource/plugins/md/js/diff.js}"></script>
<script th:src="@{/blog/resource/plugins/md/js/md.js}"></script>

<script th:src="@{//cdn.bootcss.com/multi-select/0.9.12/js/jquery.multi-select.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/select2/3.4.8/select2.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js}"></script>
	<script type="text/javascript">
		var prefix = ctx + "blog/content";
        $().ready(function() {
	        validateRule();
        });
        $.validator.setDefaults({
	        submitHandler : function() {
		        update();
	        }
        });

        function update() {
	        YiMo.ajaxPut({
	            url : prefix + "/update",
	            data : $('#contentForm').serialize(),
	            needClose : true,
	            parentRefresh : true,
	        });
        }

        function validateRule() {
	        var icon = "<i class='fa fa-times-circle'></i> ";
	        $("#contentForm").validate({
	            rules : {
	                title : {
		                required : true
	                },
	                slug : {
		                required : true
	                },
	                created : {
		                required : true
	                },
	                modified : {
		                required : true
	                },
	                content : {
		                required : true
	                },
	                authorId : {
		                required : true
	                },
	                type : {
		                required : true
	                },
	                status : {
		                required : true
	                },
	                tags : {
		                required : true
	                },
	                categories : {
		                required : true
	                },
	                hits : {
		                required : true
	                },
	                commentNum : {
		                required : true
	                },
	                allowComment : {
		                required : true
	                },
	                allowPing : {
		                required : true
	                },
	                allowFeed : {
		                required : true
	                },
	            },
	            messages : {
	                title : {
		                required : icon + "请输入内容标题"
	                },
	                slug : {
		                required : icon + "请输入内容缩略名"
	                },
	                created : {
		                required : icon + "请输入内容生成时的GMT unix时间戳"
	                },
	                modified : {
		                required : icon + "请输入内容更改时的GMT unix时间戳"
	                },
	                content : {
		                required : icon + "请输入内容文字"
	                },
	                authorId : {
		                required : icon + "请输入内容所属用户id"
	                },
	                type : {
		                required : icon + "请输入内容类别"
	                },
	                status : {
		                required : icon + "请输入内容状态"
	                },
	                tags : {
		                required : icon + "请输入标签列表"
	                },
	                categories : {
		                required : icon + "请输入分类列表"
	                },
	                hits : {
		                required : icon + "请输入点击次数"
	                },
	                commentNum : {
		                required : icon + "请输入内容所属评论数"
	                },
	                allowComment : {
		                required : icon + "请输入是否允许评论"
	                },
	                allowPing : {
		                required : icon + "请输入是否允许ping"
	                },
	                allowFeed : {
		                required : icon + "请输入允许出现在聚合中"
	                },
	            }
	        })
        }
	</script>
</body>
</html>
