<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:with="title='b_comment'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<!-- 搜索区域 -->
			<div class="search-collapse" hidden="">
				<form id="search-form">
					<div class="search-list">
						<ul>
							<li>状态：<select name="status" id="status" th:with="type=${@dict.getDictDatas('CommentStatus')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictName}" th:value="${dict.dictNo}"></option>
							</select>
							</li>
							<li><a class="btn btn-info btn-rounded btn-sm" onclick="$.YiMo.BSTable.search('search-form')"><i class="fa fa-search"></i>&nbsp;搜索</a> <a
								class="btn btn-warning btn-rounded btn-sm" onclick="document.getElementById('search-form').reset();"><i class="fa fa-refresh"></i>&nbsp;重置</a></li>
						</ul>
					</div>
				</form>
			</div>
			<!-- 表格区域 -->
			<div class="ibox">
				<div class="fixed-table-toolbar" id="toolbar" role="group">
				<a shiro:hasPermission="blog:comment:export" class="btn btn-info  btn-circle " onclick="exportData()" title="下载"> <i class="fa fa-download" aria-hidden="true"></i>
					</a>
					<a shiro:hasPermission="blog:comment:batchRemove" class="btn   btn-danger btn-circle" onclick="batchRemove()" title="批量删除"> <i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</div>
				<table id="bootstrap-table" data-mobile-responsive="true">
				</table>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<div th:replace="footer :: uploadData"></div>

	<script type="text/javascript" th:inline="javascript">
	var prefix = ctx+"blog/comment";
	var s_edit_h = [[${@permission.hasPermi('blog:comment:edit')}]];
	var s_remove_h = [[${@permission.hasPermi('blog:comment:remove')}]];
	$().ready(function() {
		load();
	});
	
	function load() {
		var options = {
		url : prefix + "/list", // 服务器数据的加载地址
		columns : [
				{
					checkbox : true
				},
				{
					field : 'coid', 
			        visible:false,
				},
				{
					field : 'cid', 
			        visible:false,
				},
				{
					field : 'content', 
					title : '评论内容',
			        halign : 'center',
				},
				{
					field : 'author', 
					title : '评论作者',
			        halign : 'center',
				},
				{
					field : 'authorId', 
					visible:false,
				},
				{
					field : 'mail', 
					title : '评论者邮件',
			        halign : 'center',
				},
				{
					field : 'url', 
					title : '评论者网址',
			        halign : 'center',
				},
				
				{
					field : 'type', 
					visible:false,
				},
				{
					field : 'created', 
					title : '评论时间',
			        halign : 'center',
			        width : '180px',
				},
				{
					field : 'status', 
					title : '评论状态',
			        halign : 'center',
			        formatter : function(value, row, index) {
			        	if(value==null||value==''){
			        		return "-";
			        	}
						var dictData = $.YiMo.getDictData('CommentStatus', value);
						return '<span class="label ' + dictData.dictDescribe + '">' + dictData.dictName + '</span>';
					}
				},
				{
					field : 'parent', 
					visible:false,
				},
				{
		        title : '操作',
		        field : 'id',
		        width : '128px',
		        halign : 'center',
		        formatter : function(value, row, index) {
			        var d = '<a class="btn btn-warning btn-sm ' + s_remove_h + '" href="#" title="删除"  mce_href="#" onclick="remove(\'' + row.coid + '\')"><i class="fa fa-remove"></i></a> ';
			        var a = '<a class="btn btn-success btn-sm" href="#" title="审批"  mce_href="#" onclick="approve(\'' + row.coid + '\')"><i class="fa fa-check-square-o"></i></a> ';
			        if(row.status=="approved"){
			        	return d;
			        }else{
				        return a +d;
			        }
		        }
		    } ]
			};
		YiMo.BSTable.load(options);
	}
	// 审批
	function approve(id) {
		var confirmMsg =  '确定要审批选中的记录？';
        layer.confirm(confirmMsg, {
	        btn : [ '确定', '取消' ]
        }, function(index) {
	        layer.close(index);
	        $.YiMo.ajaxPut({
			    url : prefix + '/approve/' + id ,
	            refresh : true,
	        });
        });
	}
	//删除
	function remove(id) {
		YiMo.remove({
		    url : prefix + "/remove/"+id,
		});
	}
	//批量删除
	function batchRemove() {
		YiMo.batchRemove({
		    primaryKey : 'coid',
		    url : prefix + "/batchRemove",
		});
	}
	//导出数据
	function exportData() {
		YiMo.exportData({
			url : prefix + "/exportData",
		});
	}
	</script>
</body>
</html>