<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
	<div class="footer">
		<div class="pull-right">
			&copy; 2019 <a target="_blank">YiMo</a>
		</div>
	</div>
</div>
<div th:fragment="footer">
	<!-- 全局js -->
	<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
	<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/js/plugins/layer/layer.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<!-- 表格插件 -->
	<script th:src="@{/plugins/bootstrap-table/bootstrap-table.js}"></script>
	<script th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
	<script th:src="@{/plugins/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js}"></script>
	
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-treetable/bootstrap-treetable.js}"></script>
	<!-- 树形节点插件 -->
	<script th:src="@{/js/plugins/jsTree/dist/jstree.min.js}"></script>
	<!--webSocket -->
	<script th:src="@{/js/plugins/webSocket/sockjs.min.js}"></script>
	<script th:src="@{/js/plugins/webSocket/stomp.min.js}"></script>
	<!-- toastr通知 -->
	<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
	<!-- 自定义js -->
	<script th:src="@{/js/YiMo.js}"></script>
	<script th:src="@{/js/YiMo2.js}"></script>
	<script type="text/javascript">
</script>
</div>
</html>