<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
	<div class="footer">
		<div class="pull-right">
			&copy; 2019 <a target="_blank">YiMo</a>
		</div>
	</div>
</div>

<div th:fragment="uploadData">
	<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
		<div class="col-xs-offset-1">
			<input type="file" id="file" name="file" />
			<div class="mt10 pt5">
				<input type="checkbox" id="isCover" name="isCover" title="如果导入数据已经存在，更新这条数据。"> 是否更新已经存在的数据 &nbsp; <a
					onclick="importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
			</div>
			<font color="red" class="pull-left mt10"> 提示：请按照模板上传数据！ </font>
		</div>
	</form>
	<div th:replace="footer :: footer"></div>
</div>

<div th:fragment="footer">
	<!-- 全局js -->
	<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
	<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/js/plugins/layer/layer.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<!-- 表格插件 -->
	<script th:src="@{/plugins/bootstrap-table/bootstrap-table.js}"></script>
	<script th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
	<script th:src="@{/plugins/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js}"></script>
	
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-treetable/bootstrap-treetable.js}"></script>
	<!-- 树形节点插件 -->
	<script th:src="@{/js/plugins/jsTree/dist/jstree.min.js}"></script>
	<!--webSocket -->
	<script th:src="@{/js/plugins/webSocket/sockjs.min.js}"></script>
	<script th:src="@{/js/plugins/webSocket/stomp.min.js}"></script>
	<!-- toastr通知 -->
	<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
	<!-- 自定义js -->
	<script th:src="@{/js/YiMo.js}"></script>
	<script th:src="@{/js/YiMo2.js}"></script>
	<script type="text/javascript">
</script>
</div>
</html>