<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header::headerFragment(${title})"></header>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden">
	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="menu">
			<div class="nav-close">
				<i class="fa fa-times-circle"></i>
			</div>
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="nav-header">
						<div class="dropdown profile-element">
							<span><img alt="image" class="img-circle" th:src="@{/img/profile_small.jpg}" /></span> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span class="clear">
									<span class="block m-t-xs"><strong class="font-bold">Tayle</strong></span> <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
							</span>
							</a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs">
<!-- 								<li><a class="J_menuItem" href="form_avatar.html">修改头像</a></li> -->
<!-- 								<li><a class="J_menuItem" href="profile.html">个人资料</a></li> -->
<!-- 								<li><a class="J_menuItem" href="contacts.html">联系我们</a></li> -->
<!-- 								<li><a class="J_menuItem" href="mailbox.html">信箱</a></li> -->
<!-- 								<li class="divider"></li> -->
<!-- 								<li><a th:href="@{/logout}">安全退出</a></li> -->
							</ul>
						</div>
						<div class="logo-element">YiMo</div
						>
					</li>
					<li><a href="#"> <i class="fa fa-home"></i> <span class="nav-label">主页</span> <span class="fa arrow"></span>
					</a>
<!-- 					<li><a id="index001" class="fa fa-home" href="" data-index="0" th:href="@{/sys/user}">用户管理</a></li> -->
					<ul class="nav nav-second-level">
						<li><a id="index001" class="J_menuItem" href="" data-index="0" th:href="@{/generator}">自动生成代码</a></li>
					</ul>
					<ul class="nav nav-second-level">
						<li><a id="index002" class="J_menuItem" href="" data-index="0" th:href="@{/sys/user}">用户管理</a></li>
					</ul>
					<ul class="nav nav-second-level">
						<li><a id="index003" class="J_menuItem" href="" data-index="0" th:href="@{/sys/dept}">部门管理</a></li>
					</ul>
					<ul class="nav nav-second-level">
						<li><a id="index004" class="J_menuItem" href="" data-index="0" th:href="@{/sys/menu}">菜单管理</a></li>
					</ul>
						<ul class="nav nav-second-level">
						<li><a id="index005" class="J_menuItem" href="" data-index="0" th:href="@{/sys/role}">角色管理</a></li>
					</ul>
				</ul>
			</div>

		</nav>
		<div th:rep
		ae="rightContent :: 	right-content"></div>
		<div th:replace="rightSidebar :: right-sidebar"></div>
		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>
