<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='自动生成代码',active='home'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div  id="exampleToolbar" role="group" >
						<button type="button" class="btn  btn-primary"
							onclick="batchCode()">
							<i class="" aria-hidden="true"></i>批量生成
						</button>
						<button type="button" class="btn  btn-success"
							onclick="edit()">
							<i class="" aria-hidden="true"></i>生成策略
						</button>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript" th:src="@{/yimo/js/generator/list.js}"></script>
</body>
</html>