<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:with="title='sys_dict'">
<meta charset="utf-8">
<header th:replace="header::header(${title})"></header>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="sys:dict:add" type="button" class="btn btn-rounded btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>
								添加
							</button>
							<button shiro:hasPermission="sys:dict:batchRemove" type="button" class="btn btn-rounded btn-danger" onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>
								批量删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="refresh()">刷新</button>
						</div>
					</div>
					<table id="DictTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer :: footer"></div>
	<script type="text/javascript" th:inline="javascript">
		var s_edit_h = [[${@permission.hasPermi('sys:dict:edit')}]];
		var s_remove_h = [[${@permission.hasPermi('sys:dict:remove')}]];
		var s_resetPwd_h = [[${@permission.hasPermi('sys:dict:resetPwd')}]];
		$().ready(function() {
			load();
		});
	</script>
	<script type="text/javascript" th:src="@{/yimo/js/sys/dict/dict.js}"></script>
</body>
</html>